/*Configurações de lagura,tamanho,formatação na section gallery*/

    .section-gallery{
        padding: 20px;
    }

/*---------------------------------------------------------------*/    

/*Configuração de ElementosTitulo e h3 para gallery*/

    /*Configurações de titulos presente na gallery*/
    .titulo {
        padding-top: 100px;
	    padding-bottom: 20px;
    }

    .h3-custom{
        margin-top: 42px;
    }

    #titulo-galeria {
        text-align: center;	
    }

/*---|Codigo da nova galeria|---*/
    
	
	#galeria .section-content {
		max-width: 1820px;
		overflow: visible;
	}
	
	#galeria .section-content .tab-pane, #galeria .section-content .tab-content {
		overflow: visible;
	}
	
	@media screen and (max-width: 2000px) {
		#galeria .section-content {
			max-width: 1456px;
		}
	}
	@media screen and (max-width: 1536px) {
		#galeria .section-content {
			max-width: 1090px;
		}
	}
	@media screen and (max-width: 1170px) {
		#galeria .section-content {
			max-width: 720px;
		}
	}
	@media screen and (max-width: 800px) {
		#galeria .section-content {
			max-width: 486px;
		}
	}
	@media screen and (max-width: 520px) {
		#galeria .section-content {
			max-width: 454px;
		}
	}
	@media screen and (max-width: 468px) {
		#galeria .section-content {
			max-width: 422px;
		}
	}
	@media screen and (max-width: 432px) {
		#galeria .section-content {
			max-width: 390px;
		}
	}
	@media screen and (max-width: 400px) {
		#galeria .section-content {
			max-width: 360px;
		}
	}
/*Configurações de Imagens da Gallery*/
    .image-gallery {
        display: flex; /* Usa flexbox para alinhar os itens */
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        gap: 15px; /* Espaçamento entre as imagens */
        justify-content: center; /* Centraliza as imagens no contêiner */
        padding: 20px 0; /* Espaçamento interno (vertical) */
		overflow: visible;
    }

    .image-gallery img {
        width: 100%; /* Garante que a imagem ocupe o espaço do seu contêiner */
        max-width: 352px; /* Largura máxima para cada imagem */
        height: 198px; /* Mantém a proporção da imagem */
        border-radius: 12px; /* Bordas arredondadas */
        box-shadow: 4px 4px 8px 1px rgba(12, 12, 12, 0.36); /* Sombra suave */
        transition: transform 0.32s ease-in, transform 0.32s ease-in; /* Efeito de transição suave */
    }

    .image-gallery img:hover {
        transform: scale(1.058); /* Aumenta um pouco a imagem ao passar o mouse */
    }
	
	@media screen and (max-width: 800px) {
		.image-gallery img {
			max-width: 480px; /* Largura máxima para cada imagem */
			height: 270px; /* Mantém a proporção da imagem */
		}
	}
	@media screen and (max-width: 520px) {
		.image-gallery img {
			max-width: 448px; /* Largura máxima para cada imagem */
			height: 252px; /* Mantém a proporção da imagem */
		}
	}
	@media screen and (max-width: 468px) {
		.image-gallery img {
			max-width: 416px; /* Largura máxima para cada imagem */
			height: 234px; /* Mantém a proporção da imagem */
		}
	}
	@media screen and (max-width: 432px) {
		.image-gallery img {
			max-width: 384px; /* Largura máxima para cada imagem */
			height: 216px; /* Mantém a proporção da imagem */
		}
	}
	@media screen and (max-width: 400px) {
		.image-gallery img {
			max-width: 352px; /* Largura máxima para cada imagem */
			height: 198px; /* Mantém a proporção da imagem */
		}
	}

/*---------------------------------------------------------------*/   

/*Configurações Para Imagem Full*/

        /*Container para Imagem full*/
    .lightbox-content {
        max-width: 85%;
        max-height: 85%;
        object-fit: contain; /* Garante que a imagem inteira seja visível sem distorção */
        animation: zoom 0.6s ease-in;
    }
	
	.lightbox-content.zoom {
        max-width: none;
        max-height: 100vh;
		height: 100vh;
        object-fit: cover; /* Garante que a imagem inteira seja visível sem distorção */
        transition: height 0.8s ease-in, width 1.2s ease-in;
		overflow-x: auto !important;
		
		animation: zoom 0.6s ease-in;
    }
	
	.lightbox-content.zoom img {
		overflow-x: auto !important;
    }

    /* Background da função de Imagem Full */
    .lightbox {
        display: none; /* Escondido por padrão */
        position: fixed; /* Fica sobre todo o conteúdo */
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85); /* Fundo preto semitransparente */
        justify-content: center;
        align-items: center;
    }
	
	.lightbox.zoom {
		max-width: none !important;
        max-height: 100vh !important;
		height: 100vh;
		width: 200vw;
		transform: translate(-25%, 0); 
		overflow-x: scroll !important;
    }

    /*Configurações para icon "X"*/
    @keyframes zoom {
        from {transform: scale(0.8);}
        to {transform: scale(1);}
    }
    .lightbox-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }
    .lightbox-close:hover {
        color: #bbb;
    }

    /*Configurações das setas para alteração de Imagem "<",">"*/
    .lightbox-prev,.lightbox-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        transition: 0.3s ease;
        user-select: none; /* Impede que o texto seja selecionado */
        border-radius: 0 3px 3px 0;
    }
    .lightbox-prev {
        left: 15px;
    }
    .lightbox-next {
        right: 15px;
    }
    .lightbox-prev:hover,
    .lightbox-next:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
/*---------------------------------------------------------------*/   
